
//colors
$dark-blue:#4285F4;
$dark-purple:#6a61bf;

$light-purple:#8881D8;
$light-grey:#f2efef;
$red-color-light:#cc0000;

$white-color:#fff;
$yellow-color:#FBBC05;
$red-color:#EA4335;
$green-color:#3fb74b;
